.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: whitesmoke;

  
   
  }
  
  
  .product-card {
    width: 250px;
    // width: calc(50% - 20px); /* Two cards in a row, with margin */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
  //   @media only screen  and (max-width: 500px) {
  //     width: 150px;    
  // } 
  @media only screen  and (max-width: 579px) {
    width: 34%;
  }

  
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    mix-blend-mode: multiply;
  }
  
//   .product-details {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 100%;
//   }
  
  .product-title {
    font-size: 18px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-price {
    font-weight: bold;
    color: #ae2d2d;;
  }
  
  .add-to-cart-btn {
    background-color: rgb(252, 182, 31);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    opacity: 0.6
  }
  // @media only screen and (max-width:400px) {
  //   .product-container{
  //     display: flex;
  //     width: 50%;
  //     flex-wrap: wrap;
  //   }
  // }
 
  
  