.Footer{
    display: flex;
    justify-content: space-around;
}
.payment{
    background: rebeccapurple;
    // display: flex

}
.ime{
width: 50px;
}
.visa{
width: 50px;    
}
.esewa{
    width: 50px;

}
.mastercard{
width: 50px;
}
.img1{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.img2{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}