.Footer{
    display: flex;
    justify-content: space-around;
}
.payment{
    display: flex;
    img{
        mix-blend-mode: multiply;
    }
}
.ime{
width: 50px;
}
.visa{
width: 50px;
}
.esewa{
    width: 50px;

}
.mastercard{
width: 50px;
}