.Footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(252, 182, 31);
    // display: none;
}
.Customer{
margin-top: 20px;
}
.About{
    margin-top: 20px;
}

.payment{
    margin-top: 20px;
    @media only screen and (max-width:400px){
        margin-top: 10px;
        width: 100%;
        // display: flex;   
        text-align: center;
        justify-content: center;
    }
   

}
.ime{
width: 50px;

}
.visa{
width: 50px;    
}
.esewa{
    width: 50px;
    @media only screen and (max-width:400px){
       width: 100px;
    }

}
.mastercard{
width: 50px;
@media only screen and (max-width:400px){
    width: 100px;
 }
}
.img1{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    @media only screen and (max-width:400px){
        width: 100%;
        display: flex;
        gap: 50px;
        margin-top: 10px;
    }
}
.img2{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    @media only screen and (max-width:400px){
      width: 100%;
    }
}