.NavbarDiv {
    background: rgb(252, 182, 31);
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    // display: none;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    // .hamburger {
    //     display: none;
    // }
}

@media only screen and (max-width: 600px) {
    .NavbarDiv {
        display: none;
    }

   

    //    .hamburger{
    //     display: none;
    //    }
}

@media only screen and (max-width:1600px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .hamburger {
        // align-items: center;
        background: rgb(252, 182, 31);
        display: block;
        height: 70px;
        text-align: right;
        padding: 15px;
    }
}

.HamburgerMenu {
    background: rgb(252, 182, 31);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;
    padding: 10px;
    height: 40vh;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}
@media only screen and (max-width:600px) {
.NavbarDiv.show {
    display: flex;
    flex-direction: column;
    height: 25vh;
    // position: absolute;
    // gap: 10px;

    // top: 100%;

}
}