// @use "../abstracts" as *;


.NavbarDiv{
    background: rgb(113, 187, 131);
    height: 8vh;
      display: flex;        
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
   
    h1{
        
        color: black;
        font-size: 20px;
        
    }
    .hamburger{
        display: none;
    
    // @include media-query("md"){
    //     display: block;
    // }
}
}