@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ! Fonts

$AccentFont: "Ibarra Real Nova";
$NavFont: "Poppins", sans-serif;
$BodyFont: "Public Sans";
$HeadingFont: "Ibarra Real Nova";

// ! Colors
$AccentColor: #a09f62;
$TextColor: #2c473f;
$BgColor: #ffffff;
