.cart-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    justify-content: space-between;
  }
  .one{
    display: flex;

  }
  
  .item-image img {
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    mix-blend-mode: multiply;
  }
  
  .item-details h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .item-details p {
    margin: 5px 0 0;
    color: #888;
  }
  .divbtn{
    display: flex;
    gap: 10px;
    button{
      cursor: pointer;
      background: gray;
      width: 30px;
      color: white;
      height: 30px;
      font-size: 20px;
      // padding: 2px;
    }
  }
  